
<nav class="navbar bg-dark">
  <span class="navbar-brand mb-0 h1 text-light" >apollo</span>
  <span class="float-right" *ngIf="authService.user | async">
    <p class="text-light mb-0 d-inline">{{ (authService.user | async)?.email }}</p>
    <button class="btn btn-outline-light d-inline" (click)="logout()">Logout</button>
  </span>
</nav>

<div class="container w-50 mt-5">

  <div class="container-fluid" *ngIf="authService.user | async">
    <app-items [userId]="uid"></app-items>
  </div>

  <div class="card" *ngIf="!(authService.user | async)">
    <div class="container card-body w-50">
      <label class="d-block" for="emailInput">Email</label>
      <input 
        id="emailInput"
        type="text" 
        [(ngModel)]="email" 
        placeholder="email..." 
        class="d-block w-100">
      <label class="d-block" for="passwordInput">Password</label>
      <input 
        id="passwordInput"
        type="password" 
        [(ngModel)]="password" 
        placeholder="password..." 
        class="d-block w-100">
      <div class="d-block mt-2 float-right">
        <button (click)="login()" [disabled]="!email || !password" class="btn btn-info">
          Login
        </button>
        <button (click)="signup()" [disabled]="!email || !password" class="btn btn-warning">
          Signup
        </button>
      </div>
      
    </div>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-2" role="alert">
    <p class="mb-0" >{{errorMessage}}</p>
  </div>
</div>

